* {
  box-sizing: border-box;
}

body {
  margin: 0;
  background: #EEEEEE;
  color: #222222;
  font-family: 'Poppins', sans-serif;
}

.nav {
  background: #FFFFFF;
  padding: 22px 30px;
  box-shadow: 0px 2.98256px 7.4564px rgba(0, 0, 0, 0.1);
}

.hero {
  max-width: 1000px;
}

.hero,
.cards {
  margin: 26px 36px;
}

.hero--img {
  width: 395.91px;
  display: flex;
  margin: 0 auto;
}

.hero--title {
  font-size: 36px;
  font-weight: 600;
  color: #000000;
  /* line-height: 110%; */
}

.hero--text {
  width: 60%;
  min-width: 320px;
}

.cards {
  display: flex;
  gap: 5%;
  flex-wrap: wrap;
  font-size: 12px;
  color: #222222;
  position: relative;
  justify-content: center;
}

.card {
  padding-bottom: 1rem;
}

.card--situation h5 {
  position: absolute;
  margin-left: 1rem;
  font-size: 10.24px;
  text-align: center;
  text-transform: uppercase;
  border-radius: 2px;
  padding: 5px 6px;
  background: #FFFFFF;
}

.card-img {
  width: 264px;
  height: 353px;
  border-radius: 15px;
}

.card--text {
  width: 264px;
}

.card--stars {
  display: flex;
  align-items: center;
  gap: .4rem;
}

.card--stars .no_stars {
  color: #918E9B;
}

.card--stars img {
  width: 14px;
}

.card--price span {
  font-weight: 600;
}

@media (min-width: 1059px) {
  .hero, .cards {
    max-width: 1000px;
    margin: 26px auto;
  }

  .cards {
    max-width: 1420px;
  }

  .hero--img {
    width: 450px;
  }
}

@media (max-width: 437px) {
  .hero--img {
    width: 300px;
  }
}